# Import libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

print('Libraries loaded.')

Libraries loaded.

# Loading dataset

In [2]:
library_df = pd.read_excel('Data/converted.xlsx', engine='openpyxl', header= None)

library_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,شماره راهنما,NaN,تعداد نسخ,NaN,عنوان,NaN,شماره مدرک,NaN,شماره رکورد
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,‭‭ص‌۱۶۸,NaN,4.0,NaN,‮ح‍ل‌ م‍س‍ائ‍ل‌ ف‍ی‍زی‍ک‌ ب‍رای‌ ع‍ل‍وم‌ زی‍س‍...,NaN,۲۳۵۹,NaN,2594.0,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Simple EDA

## Checking size of dataset

In [3]:
library_df.shape

(10355, 12)

## Checking data types

In [4]:
library_df.dtypes

0     float64
1      object
2      object
3      object
4     float64
5      object
6      object
7      object
8      object
9      object
10    float64
11     object
dtype: object

## Checking null columns

In [5]:
library_df.isnull().sum()

0     10355
1     10302
2      7824
3     10354
4      7823
5     10354
6      7823
7     10354
8      7824
9     10354
10     7824
11    10354
dtype: int64

## Checking null rows

In [6]:
library_df[library_df.isnull().all(axis= 1)]

       0    1    2    3   4    5    6    7    8    9   10   11
0     NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN NaN  NaN
1     NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN NaN  NaN
2     NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN NaN  NaN
3     NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN NaN  NaN
4     NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN NaN  NaN
...    ..  ...  ...  ...  ..  ...  ...  ...  ...  ...  ..  ...
10347 NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN NaN  NaN
10349 NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN NaN  NaN
10350 NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN NaN  NaN
10352 NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN NaN  NaN
10353 NaN  NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN  NaN NaN  NaN

[7769 rows x 12 columns]

## Dropping null rows & columns

In [7]:
library_df.drop([0, 1, 3, 5, 7, 9, 11], inplace= True, axis= 1)

library_df.isnull().sum()

2     7824
4     7823
6     7823
8     7824
10    7824
dtype: int64

In [8]:
library_df.drop(library_df[library_df.isnull().all(axis= 1)].index, inplace= True)

library_df.head()

,2,4,6,8,10
8,‭‭ص‌۱۶۸,4.0,‮ح‍ل‌ م‍س‍ائ‍ل‌ ف‍ی‍زی‍ک‌ ب‍رای‌ ع‍ل‍وم‌ زی‍س‍...,۲۳۵۹,2594.0
12,‭‭درادن‍ ه‌در,1.0,‮آش‍ن‍ای‍ی‌ ب‍ا م‍س‍ی‍ری‍اب‌ ه‍ای‌ م‍ی‍ک‍روت‍ی‍ک‌,۲۵۹۳,2729.0
16,‭‭درادن‍ ه‌در,3.0,‮ک‍ش‍ت‌ و پ‍رورش‌ گ‍ی‍اه‍ان‌ داروی‍ی‌ : آم‍ادگ...,۲۶۰۰,2736.0
20,‭‭درادن‍ ه‌در,1.0,‮ب‍ی‍وت‍ک‍ن‍ول‍وژی‌ م‍ی‍ک‍روب‍ی‌,۲۶۱۶,2752.0
24,‭‭درادن‍ ه‌در,1.0,‮زی‍س‍ت‌ ف‍ن‍اوری‌ غ‍ذای‍ی‌,۲۶۲۷,2763.0

## Evaluating droped Dataframe

In [9]:
library_df.isnull().sum()

2     1
4     0
6     0
8     1
10    1
dtype: int64

# Renaming columns

In [10]:
library_df.rename(columns= {2: '#Guidance', 4: 'Count', 6: '#Title', 8: '#Document', 10: '#Record'}, inplace= True)

library_df.head()

,#Guidance,Count,#Title,#Document,#Record
8,‭‭ص‌۱۶۸,4.0,‮ح‍ل‌ م‍س‍ائ‍ل‌ ف‍ی‍زی‍ک‌ ب‍رای‌ ع‍ل‍وم‌ زی‍س‍...,۲۳۵۹,2594.0
12,‭‭درادن‍ ه‌در,1.0,‮آش‍ن‍ای‍ی‌ ب‍ا م‍س‍ی‍ری‍اب‌ ه‍ای‌ م‍ی‍ک‍روت‍ی‍ک‌,۲۵۹۳,2729.0
16,‭‭درادن‍ ه‌در,3.0,‮ک‍ش‍ت‌ و پ‍رورش‌ گ‍ی‍اه‍ان‌ داروی‍ی‌ : آم‍ادگ...,۲۶۰۰,2736.0
20,‭‭درادن‍ ه‌در,1.0,‮ب‍ی‍وت‍ک‍ن‍ول‍وژی‌ م‍ی‍ک‍روب‍ی‌,۲۶۱۶,2752.0
24,‭‭درادن‍ ه‌در,1.0,‮زی‍س‍ت‌ ف‍ن‍اوری‌ غ‍ذای‍ی‌,۲۶۲۷,2763.0

# Reset index column

In [11]:
library_df.reset_index(inplace= True, drop= True)

library_df.head()

,#Guidance,Count,#Title,#Document,#Record
0,‭‭ص‌۱۶۸,4.0,‮ح‍ل‌ م‍س‍ائ‍ل‌ ف‍ی‍زی‍ک‌ ب‍رای‌ ع‍ل‍وم‌ زی‍س‍...,۲۳۵۹,2594.0
1,‭‭درادن‍ ه‌در,1.0,‮آش‍ن‍ای‍ی‌ ب‍ا م‍س‍ی‍ری‍اب‌ ه‍ای‌ م‍ی‍ک‍روت‍ی‍ک‌,۲۵۹۳,2729.0
2,‭‭درادن‍ ه‌در,3.0,‮ک‍ش‍ت‌ و پ‍رورش‌ گ‍ی‍اه‍ان‌ داروی‍ی‌ : آم‍ادگ...,۲۶۰۰,2736.0
3,‭‭درادن‍ ه‌در,1.0,‮ب‍ی‍وت‍ک‍ن‍ول‍وژی‌ م‍ی‍ک‍روب‍ی‌,۲۶۱۶,2752.0
4,‭‭درادن‍ ه‌در,1.0,‮زی‍س‍ت‌ ف‍ن‍اوری‌ غ‍ذای‍ی‌,۲۶۲۷,2763.0

In [12]:
library_df.tail(10)

,#Guidance,Count,#Title,#Document,#Record
2522,‭‭U،۱۶۲،/گ‌۴س‌۲،۱۳۸۵,1.0,‮س‍اخ‍ت‍ار ش‍ن‍اس‍ی‌ راه‍ب‍رد,۲۰۳۸,2260.0
2523,‭‭VT،۱۷۴،/ف‌۴ف‌۹،۱۳۸۹,2.0,‮ف‍ن‌ آوری‌ ن‍ان‍و: م‍اش‍ی‍ن‍ه‍ای‌ ن‍ام‍رئ‍ی‌,۶۴۲,699.0
2524,‭‭WP،۱۴۰،/ز۶۵،۱۳۷۵,1.0,‮ت‍ظاه‍رات‌ اص‍ل‍ی‌ و درم‍ان‌ ب‍ی‍م‍اری‍ه‍ا- ز...,۲۰۴۹,2271.0
2525,‭‭Z،۶۷۵،/د۲ ف‌ل‍ا۵،۱۳۹۰,1.0,‮اس‍ت‍ان‍دارده‍ای‌ ک‍ت‍اب‍خ‍ان‍ه‌ دان‍ش‍گ‍اه‍ی...,۱۸۱۷,2029.0
2526,‭‭Z،۵۲/۵،/و۳۷خ‌۸،۱۳۸۳,1.0,‮رای‍ان‍ه‌ ک‍ار واژن‍ام‍ه‌ پ‍ردازی‌ word xp,۲۰۱۶,2234.0
2527,‭‭Z،۵۲/۵،/و۳۷م‌۶،۱۳۸۳,1.0,‮ک‍ل‍ی‍د ورد,۲۰۵۹,2284.0
2528,‭‭Z،۵۲/۵،/ع‌۷آ۸،۱۳۹۰,1.0,‮آم‍وزش‌ ت‍ص‍وی‍ری‌ ورد۲۰۱۰,۳۰,37.0
2529,‭‭Z،۱،/م‌۳۲۵گ‌،۱۳۷۵,1.0,‮درم‍ان‌ ب‍ا گ‍ی‍اه‍ان‌ داروی‍ی‌,۲۲۰۹,2445.0
2530,‭‭اد،۳۰۰،/ب‌۴ب‌۲،۱۳۹۲,2.0,‮ب‍اغ‌ ب‍ی‌ ان‍ت‍ه‍ا,۱۴۰۹,1595.0
2531,NaN,6161.0,جمـــــــــــــع کــل نســــخ,NaN,NaN

# Droping last row

In [13]:
library_df.drop(index= library_df.shape[0] - 1, inplace= True)

library_df.tail(10)

,#Guidance,Count,#Title,#Document,#Record
2521,‭‭U،۵۵،/۳۱۳۹۶آ۵ح‌،۱۳۹۶,1.0,‮روزه‍ای‌ ب‍ه‌ ی‍ادم‍ان‍دن‍ی‌ س‍رب‍ازی‌,۲۰۴۳,2265.0
2522,‭‭U،۱۶۲،/گ‌۴س‌۲،۱۳۸۵,1.0,‮س‍اخ‍ت‍ار ش‍ن‍اس‍ی‌ راه‍ب‍رد,۲۰۳۸,2260.0
2523,‭‭VT،۱۷۴،/ف‌۴ف‌۹،۱۳۸۹,2.0,‮ف‍ن‌ آوری‌ ن‍ان‍و: م‍اش‍ی‍ن‍ه‍ای‌ ن‍ام‍رئ‍ی‌,۶۴۲,699.0
2524,‭‭WP،۱۴۰،/ز۶۵،۱۳۷۵,1.0,‮ت‍ظاه‍رات‌ اص‍ل‍ی‌ و درم‍ان‌ ب‍ی‍م‍اری‍ه‍ا- ز...,۲۰۴۹,2271.0
2525,‭‭Z،۶۷۵،/د۲ ف‌ل‍ا۵،۱۳۹۰,1.0,‮اس‍ت‍ان‍دارده‍ای‌ ک‍ت‍اب‍خ‍ان‍ه‌ دان‍ش‍گ‍اه‍ی...,۱۸۱۷,2029.0
2526,‭‭Z،۵۲/۵،/و۳۷خ‌۸،۱۳۸۳,1.0,‮رای‍ان‍ه‌ ک‍ار واژن‍ام‍ه‌ پ‍ردازی‌ word xp,۲۰۱۶,2234.0
2527,‭‭Z،۵۲/۵،/و۳۷م‌۶،۱۳۸۳,1.0,‮ک‍ل‍ی‍د ورد,۲۰۵۹,2284.0
2528,‭‭Z،۵۲/۵،/ع‌۷آ۸،۱۳۹۰,1.0,‮آم‍وزش‌ ت‍ص‍وی‍ری‌ ورد۲۰۱۰,۳۰,37.0
2529,‭‭Z،۱،/م‌۳۲۵گ‌،۱۳۷۵,1.0,‮درم‍ان‌ ب‍ا گ‍ی‍اه‍ان‌ داروی‍ی‌,۲۲۰۹,2445.0
2530,‭‭اد،۳۰۰،/ب‌۴ب‌۲،۱۳۹۲,2.0,‮ب‍اغ‌ ب‍ی‌ ان‍ت‍ه‍ا,۱۴۰۹,1595.0

# Exercise

فراوانی سال انتشار کتاب های موجود در کتابخانه را بدست بیاورید. به عنوان مثال بگوئید در کتابخانه چند کتاب سال انتشارشان مربوط به سال 1375 است؟
این مقدار را برای همه سال هایی که  نسخه از آن در کتابخانه موجود است بدست بیاورید.

In [14]:
x = library_df['#Guidance'].values.tolist()
y = '۱۳۹۶'
i = 0
for j in range(0, 2531):
    if y == x[j][-4:]:
        i+=1
print(y+' = '+str(i))

۱۳۹۶ = 63

In [15]:
library_df['#Guidance'].values.tolist()
y = ['۰','۱','۲','۳','۴','۵','۶','۷','۸','۹']
z = {'Year':[], 'Book':[]}
for i in range (3, 5):
    for j in range (0, 10):
        for k in range (0, 10):
            m = 0
            for n in range (0, 2531):
                if '۱'+y[i]+y[j]+y[k] == x[n][-4:]:
                    m+=1
            z['Year'].append('۱'+y[i]+y[j]+y[k])
            z['Book'].append(m)
Books_df = pd.DataFrame(z)
for i in range(0, 200):
    if Books_df.loc[i]['Book'] == 0:
        Books_df.drop(i, inplace=True)
Books_df.reset_index(inplace= True, drop= True)
Books_df

    Year  Book
0   ۱۳۳۷     1
1   ۱۳۴۵     1
2   ۱۳۴۸     1
3   ۱۳۵۵     1
4   ۱۳۵۷     1
5   ۱۳۶۲     1
6   ۱۳۶۳     4
7   ۱۳۶۴     1
8   ۱۳۶۵     3
9   ۱۳۶۶     5
10  ۱۳۶۷     5
11  ۱۳۶۸     3
12  ۱۳۶۹     8
13  ۱۳۷۰    10
14  ۱۳۷۱     6
15  ۱۳۷۲     5
16  ۱۳۷۳    21
17  ۱۳۷۴    28
18  ۱۳۷۵    18
19  ۱۳۷۶    18
20  ۱۳۷۷    25
21  ۱۳۷۸    35
22  ۱۳۷۹    46
23  ۱۳۸۰    45
24  ۱۳۸۱    51
25  ۱۳۸۲    60
26  ۱۳۸۳    73
27  ۱۳۸۴   102
28  ۱۳۸۵    81
29  ۱۳۸۶   147
30  ۱۳۸۷   174
31  ۱۳۸۸   206
32  ۱۳۸۹   232
33  ۱۳۹۰   203
34  ۱۳۹۱   214
35  ۱۳۹۲   206
36  ۱۳۹۳   127
37  ۱۳۹۴    81
38  ۱۳۹۵    73
39  ۱۳۹۶    63
40  ۱۳۹۷    30
41  ۱۳۹۸    17
42  ۱۳۹۹     7
43  ۱۴۰۰    12
44  ۱۴۰۱     3